#adminlq-topbar{
    position: fixed;
    display: flex;
    align-items: center;
}
#topbar-blank, #view-blank, #footer-blank{
    -webkit-transition-property: width;
    -moz-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.46s;
    -moz-transition-duration: 0.46s;
    -o-transition-duration: 0.46s;
    transition-duration: 0.46s;
}
#adminlq-sidebar{
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow:auto;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#adminlq-background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    left:0px;
    background-color: #f2f2f2;
}
#adminlq-mask-for-sidebar{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.45);
}
.adminlq-button-transparent{
    background-color: transparent;
    border: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}