#adminlq-header{
    height: 50px;
    position: fixed;
    z-index: 5;
    background-color: springgreen;
}
#header-blank,#content-blank{
    width: 200px;
}
#adminlq-sidebar{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 15;
    overflow:auto;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.adminlq-sidebar-hidden{
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
}
#sidebar-header{
    width: 200px;
    height: 50px;
}
#adminlq-content{
    background-color: #f2f2f2;
}
#content-header-blank{
    width: 100%;
    height:50px;
    background-color: #f2f2f2;
}
#adminlq-background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index:-5;
    background-color: #f2f2f2;
}
#adminlq-siderbar-mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.45);
}
/* @media (max-width: 1023px) {
    #topbar-blank{
        width: 0px;
    }
}
@media (min-width: 1024px) {
    #topbar-blank{
        width: 200px;
    }
} */
.div1{
    padding-top:20px;
}