<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlq.css') }}">
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue-router.js') }}"></script>
    <title>admin</title>
</head>
<body>
  {% raw %}
  <div id="adminlq-topbar" class="container is-fluid has-background-white is-marginless is-paddingless">
    <div class="columns is-gapless">
      <div id="topbar-blank" class="column is-narrow"></div>
      <div id="topbar-content" class="column">
        <button id="topbar-content-leftbar-button" class="button is-primary" style="margin-left: 30px;">OK</button>
      </div>
    </div>
  </div>
  <div id="adminlq-leftbar" class="has-background-grey-darker" v-bind:class="classObject">

  </div>
  <div id="adminlq-rightbar">

  </div>
  <div id="adminlq-content" class="container is-fluid is-marginless is-paddingless">
  
  </div>
  <div id="adminlq-footer">

  </div>
  <div id="adminlq-background"></div>
  {% endraw %}
  <script src="{{ url_for('static', filename='js/adminlq.js') }}"></script>
</body>
</html>