<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <title>admin</title>
</head>
<body>
    <h1>admin</h1>
    <button class="button is-primary is-rounded">button primary</button>
    <button>button primary</button>
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
</body>
</html>